<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutpage}">
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/resume/list/" + page + "?searchDateType=" + searchDateType
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form th:action="@{'/resume/list/' + ${resumes.number}}" role="form" method="get" th:object="${resumes}">
        <table class="table">
            <thead>
            <tr>
                <td>번호</td>
                <td>이력서 제목</td>
                <td>등록자</td>
                <td>등록일</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="resume, status: ${resumes.getContent()}">
                <td th:text="${resume.id}"></td>
                <td>
                    <a th:href="'/resume/view/'+${resume.id}" th:text="${resume.title}"></a>
                </td>
                <td th:text="${resume.nickname}"></td>
                <td th:text="${resume.regeTime}"></td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(resumes.number/maxPage)*maxPage + 1}, end=(${(resumes.totalPages == 0) ? 1 : (start + (maxPage - 1) < resumes.totalPages ? start + (maxPage - 1) : resumes.totalPages)})" >
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${resumes.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${resumes.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>이전 페이지</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${resumes.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${resumes.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${resumes.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>다음 페이지</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${resumeSearchDto}">
            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="title">이력서 제목</option>
                <option value="nickname">닉네임</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
        </br>
        <div class="form-inline justify-content-center">
            <a th:href="'/resume/upload'">
                <button id="createBtn" type="button" class="btn btn-primary">새 이력서 등록</button>
            </a>
        </div>

    </form>

</div>

</html>